  * {
      font-family: Poppins, sans-serif;
  }

  /* body {
      font-family: 'Poppins', sans-serif;
      background-color: #f8fafc;
  } */

  .sidebar {
      height: 120vh;
      width: 270px;
      left: 0;
      top: 60px;
      overflow-y: auto;
  }

  h2,
  thead,label
   {
      font-weight: bold;
      color: #015F9E;
  }

  .input-group {
      transition: box-shadow 0.3s, transform 0.3s;
      border-radius: 4px;
  }

  .adminpanel {
      /* margin-left: 250px; */
      width: calc(100% - 270px);
  }

  .sidebar .nav-link {
      /* color: white;
      padding: 12px 20px; */
      color: #015F9E;
      font-style: bold;
      display: block;
      padding: 8px 16px;
      border-radius: 8px;
      margin-bottom: 5px;
      transition: background-color 0.3s ease, color 0.3s ease;
  }

  .sidebar .nav-link:hover,
  .sidebar .nav-link.active {
      /* background-color: #334155;
      border-radius: 8px; */
      background-color: #ebf6fd;
  }

  /* .sidebar i {
      margin-right: 10px;
  }

  .topbar {
      display: flex;
      justify-content: space-between;
      padding: 20px;
  } */

  .card {
      background-color: #ffffff;
      transition: box-shadow 0.3s, transform 0.3s;
      border-radius: 4px;
      box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
  }

  .logout {
      color: #374151;
      font-weight: 500;
      cursor: pointer;
  }

  .logout:hover {
      text-decoration: underline;
  }

  .card-icon {
      font-size: 28px;
      color: #3b82f6;
      margin-bottom: 10px;
  }