  * {
      font-family: Poppins, sans-serif;
  }

  /* body {
      font-family: 'Poppins', sans-serif;
      background-color: #f8fafc;
  } */

  .sidebar {
      height: 85vh;
      width: 270px;
      left: 0;
      top: 60px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  h2,
  thead,
  label {
      font-weight: bold;
      color: #015F9E;
  }

  .input-group {
      transition: box-shadow 0.3s, transform 0.3s;
      border-radius: 4px;
  }

  .adminpanel {
      /* margin-left: 250px; */
      width: calc(100% - 270px);
  }

  .sidebar .nav-link {
      /* color: white;
      padding: 12px 20px; */
      color: #015F9E;
      font-style: bold;
      display: block;
      padding: 8px 16px;
      border-radius: 8px;
      margin-bottom: 5px;
      transition: background-color 0.3s ease, color 0.3s ease;
  }

  .sidebar .nav-link:hover,
  .sidebar .nav-link.active {
      /* background-color: #334155;
      border-radius: 8px; */
      background-color: #ebf6fd;
  }

  /* .sidebar i {
      margin-right: 10px;
  }

  .topbar {
      display: flex;
      justify-content: space-between;
      padding: 20px;
  } */

  .card {
      background-color: #ffffff;
      transition: box-shadow 0.3s, transform 0.3s;
      border-radius: 4px;
      box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
  }

  
.book-image {
    width: 120px;
    height: 160px;
    object-fit: cover;
    border-radius: 5px;
    margin: 0%;
    padding: 0%;
}


.books-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0px 0px 10px 0px;
}

.books-grid {
    margin: 0px 10px 0px 10px;
    width: 160px;
}

.book-card {
    width: 160px;
    height: 220px;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

.book-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .book-card {
        width: 140px;
        height: 200px;
    }
}

  .logout {
      color: #374151;
      font-weight: 500;
      cursor: pointer;
  }

  .logout:hover {
      text-decoration: underline;
  }

  .logout-section {
      border-top: 1px solid #e5e7eb;
  }

  .logout-section form button {
      text-align: center;
  }


  .card-icon {
      font-size: 28px;
      color: #3b82f6;
      margin-bottom: 10px;
  }