body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
}

.navbar-brand img {
  height: 40px;
}

.bg1 {
  background-image: url("cover1.png");
  background-position: right; 
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1; 
  position: relative; 
  min-height: 110vh;
}

.hero-section {
  background: linear-gradient(to right, #ffffff 60%, #2aa7ff 60%);
  padding: 60px 0;
  position: relative;
}

.hero-content h1 {
  font-weight: 800;
  font-size: 2.5rem;
}

.hero-content h1 span {
  color: #2aa7ff;
}

.btn-start {
  background-color: #2aa7ff;
  color: #fff;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 30px;
}

.book-images img {
  width: 120px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.announcement-bar {
  background-color: #f9c846;
  color: #000;
  font-weight: 600;
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden;
}

.announcement-bar span {
  padding: 0 1rem;
}

.nav-link.active {
  color: #2aa7ff !important;
}

/* Button Section */
.hText{
color: #015F9E;
}
.btn-bg{
  background: linear-gradient(#4737FF, #6EA4FC);
}
.color{
  color: #015F9E !important;
}
.wh{
  width: 200px;
}
.t1{
  color: #015F9E !important;

}
.t2{
  color:#6E7889;
}
.custom-img {
  width: 200px;
  height: auto;
}
.custom-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
