html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  width: 100%;
  height: 100%;
  background: url('../images/signin.png') no-repeat left;
  background-size: contain;
}

@media (max-width: 992px) {
  body{
    background: none;
  }
}

/* .btn-google,
.btn-twitter {
  background-color: white;
  border: 1px solid #ccc;
  font-weight: 500;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
} */

.btn-primary-custom {
  background: linear-gradient(rgba(71, 55, 255, 1), rgba(110, 164, 252, 1));
  color: white;
  padding: 10px 20px;
  border: none;
  width: 40%;
  border-radius: 50px;
  font-weight: 500;
}


input.form-control {
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 10px 15px;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);

}

input.form-control:focus {
  outline: none;
  border: 1px solid #ccc;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
}

.or-divider {
  text-align: center;
  position: relative;
  margin: 24px 0;
}

.or-divider::before,
.or-divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background-color: #ccc;
}

.or-divider::before {
  left: 0;
}

.or-divider::after {
  right: 0;
}

.or-divider span {
  background-color: white;
  padding: 0 10px;
  color: #888;
}

.form-footer {
  font-size: 14px;
}

@media (max-width: 767px) {
  body {
    overflow: auto;
  }

  .image_Content {
    display: none;
  }

  .form-wrapper {
    max-width: 90%;
  }

  .col-md-6 {
    width: 100% !important;
  }
}