* {
    font-family: Poppins, sans-serif;
}

.vertical-nav {
    width: 270px;
    height: 100vh;
    /* padding: 20px; */
    /* position: absolute; */
    left: 0;
    top: 60px;
    overflow-y: auto;
}

.nav-item.active {
    color: #015F9E !important;
    font-family: Poppins, sans-serif;
    font-style: bold;
}

.nav-item {
    color: #015F9E;
}

.userpanelcontent {
    /* margin-left: 250px; */
    width: calc(100% - 270px);
}

/* nav {
    position: top;
    font-size: 16px;
} */

#sidemenu, #sidebuttons {
    color: #015F9E;
    font-weight: 500;
    font-style: bold;
    padding: 8px 20px;
    border-radius: 8px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

#sidemenu.active {
    color: #015F9E !important;
    background-color: #ebf6fd !important;
     transition: background-color 0.3s ease, color 0.3s ease;
}

#sidemenu:hover {
    color: #015F9E;
    background-color: #ebf6fd;
}

.input-group,
#logout-btn {
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

#input-feild input:focus,
#input-main input:focus {
    outline: none;
    box-shadow: none;
}

#logout-btn {
    color: red;
    background-color: white;
}

#logout-btn:hover {
    background-color: #015F9E;
    color: white;
}

.feed {
    color: #015F9E;
    width: 100%;
    padding: 15px;
}

.feed-box {
    padding: 40px;
    margin-top: 20px;
    text-align: center;
}

.toggle-btn {
    display: none;
}

@media (max-width: 768px) {
    .vertical-nav {
        display: none;
        position: absolute;
        width: 100%;
    }

    .toggle-btn {
        display: block;
        margin-left: 20px;
    }

    .userpanelcontent {
        margin-left: 0;
        width: 100%;
    }

    .vertical-nav.show {
        display: block;
        position: relative;
    }
}

.calendar-box {
    height: 120px;
    padding: 10px;
    vertical-align: top;

}

.event {
    font-size: 0.7rem;
    color: red;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url('images/logout.png') center/cover no-repeat;   */
    justify-content: center;
    align-items: center;
    display: flex;
}

.card {
    width: 350px;
}